@font-face{
    src: url(../fonts/MuseoSansCyrl300.ttf);
    font-family: 'Museo Sans Cyrl';
    font-weight: 300;
}

@font-face{
    src: url(../fonts/MuseoSansCyrl500.ttf);
    font-family: 'Museo Sans Cyrl';
    font-weight: 500;
}

@font-face{
    src: url(../fonts/MuseoSansCyrl700.ttf);
    font-family: 'Museo Sans Cyrl';
    font-weight: 700;
}

@font-face{
    src: url(../fonts/MuseoSansCyrl900.ttf);
    font-family: 'Museo Sans Cyrl';
    font-weight: 900;
}

@font-face{
    src: url(../fonts/SF-Pro-Text-Semibold.otf);
    font-family: 'SF Pro Text';
    font-weight: 600;
}
@font-face{
    src: url(../fonts/SFPRODISPLAYBOLD.OTF);
    font-family: 'SF Pro Text';
    font-weight: 700;
}